# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
mtof

# Debug files
*.dSYM/

.DS_Store
**/.DS_Store
music/**/*.mid.*
music/**/*.mid
Fusik/*.mid.h
